{% extends 'base.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ profile.avatar.url }}" class="img-fluid rounded-0" alt="{{ profile }}">
                    </figure>
                </div>
                    <div class="col-md-9">
                        <h5 class="card-title">
                        {{ profile }}
                        </h5>
                    <div class="card-text">
                        <ul>
                            <li>Никнейм: {{ profile.user.username }}</li>
                            {% if profile.user.first_name and profile.user.last_name %}
                            <li>Имя и фамилия: {{ profile.user.first_name }} {{ profile.user.last_name }}</li>
                            {% endif %}
                            <li>Заходил: {{ profile.user.last_login }}</li>
                        </ul>
                    {% if request.user == profile.user %}
                    <a href="{% url 'edit_page' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
                    <a href="{% url 'add_doggy_page' %}" class="btn btn-sm btn-primary">Добавить объявление</a>
                    <a href="{% url 'edit_password_page' %}" class="btn btn-sm btn-primary">Изменить пароль</a>
                    {% endif %}
                        <h2> Объявления пользователя: </h2>
                        <div class="card h-100">
                            {% for doggy in profile.user.doggy.all %}
                                {{ doggy.name }}
                                {% for photo in doggy.photos.all %}
                                <img class="card-img-profile" src="{{ photo.image.url }}" alt="..." width="300" height="200"/>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}